td.numeric {
    text-align: right;
}

td.numeric input {
    text-align: right;
}


table tr.summaryRow td
{
    font-weight: bold;
    background-color: #eee;
}

.css-form .ng-valid {

}

.css-form .ng-invalid {
    background-color: #fcc !important;
}

.css-form .ng-pristine {
}

.css-form .ng-dirty {
    background-color: #eef;
}

input.invoiceNumber {
    font-size: 27px;
}