body {
    font-family: sans-serif;
    font-size: 10pt;
}

table {
    border-collapse: collapse;
    border: solid 1px black;
}

table th,
table td {
    padding: 5px;

}

table th {
    border: solid 1px black;
}

table td {
    border-bottom: solid 1px black;
}

td.numeric {
    text-align: right;
}

td.numeric input {
    text-align: right;
}

p.disclaimer {
    padding: 10px;
    background-color: #eee;
    border: solid 1px #aaa;
}

.css-form .ng-valid {

}

.css-form .ng-invalid {
    background-color: #fcc !important;
}

.css-form .ng-pristine {
}

.css-form .ng-dirty {
    background-color: #eef;
}

input.invoiceNumber {
    font-size: 27px;
}