<!doctype html>
<html ng-app>
<head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="js/invoices.js"></script>
    <link rel="stylesheet" href="css/invoices.css">
</head>
<body>

<h1>Invoice</h1>

<p class="disclaimer">
    For test purposes only. Data is not saved. Invoice will not be generated. Use for test only.
</p>

<div ng-controller="InvoiceController">
    <form class="css-form">

        <table class="invoiceItems">
            <tr>
                <th>Lp.</th>
                <th>Towar/Usługa</th>
                <th>Ilość</th>
                <th>Cena netto</th>
                <th>Cena brutto</th>
                <th>Stawka VAT</th>
                <th>VAT</th>
                <th>Wartość netto</th>
                <th>Kwota VAT</th>
                <th>Kwota Brutto</th>
                <th></th>
            </tr>
            <tr class="invoiceItem" ng-repeat="invoiceItem in invoiceItems">
                <td>{{ $index + 1}}</td>
                <td><input type="text" size="20" required ng-model="invoiceItem.name" placeholder="Towar/usługa"/></td>
                <td class="numeric"><input type="number" min="1" required size="4" ng-model="invoiceItem.quantity"/></td>
                <td class="numeric"><input type="number" min="0" required size="8" ng-model="invoiceItem.unitNettoPrice"/></td>
                <td class="numeric">{{ invoiceItem.unitBruttoPrice() | number:2 }}</td>
                <td><select ng-model="invoiceItem.vatRate" ng-options="r.label for r in vatRates" ng-required></select></td>
                <td class="numeric">{{ invoiceItem.vat() | number:0 }}</td>
                <td class="numeric">{{ invoiceItem.totalNettoPrice() | number:2 }}</td>
                <td class="numeric">{{ invoiceItem.totalVatPrice() | number:2 }}</td>
                <td class="numeric">{{ invoiceItem.totalBruttoPrice() | number:2 }}</td>
                <td><a href="" ng-click="removeInvoiceItem(invoiceItem)">Usuń</a></td>
            </tr>
        </table>

        <button type="button" ng-click="addNewInvoiceItem();">Dodaj pozycję</button>
    </form>
</div>

</body>
</html>
